* {
  box-sizing: border-box;
}

:root {
  --dark-color-1: hsl(185, 75%, 39%);
  --dark-color-2: hsl(229, 23%, 23%);
  --dark-color-3: hsl(227, 10%, 46%);
  --light-color-1: hsl(0, 0%, 59%);
  --light-color-2: #fff;
  --para-size: 18px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans";
  background-color: var(--dark-color-1);
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-position: top -70% right 200px, bottom -70% left 200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.card-container {
  margin: 8rem auto;
  background-color: var(--light-color-2);
  min-width: 350px;
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
}
.card-img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-background {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.profile-pic {
  margin: -50px auto;
  border-radius: 50%;
  border: 5px solid var(--light-color-2);
}

.profile-name {
  margin-top: 100px;
  text-align: center;
  font-size: var(--para-size);
  color: var(--dark-color-2);
}

.profile-age {
  font-weight: 400;
  padding-left: 5px;
  color: var(--light-color-1);
}

.profile-location {
  margin-top: -8px;
  font-size: 14px;
  color: var(--light-color-1);
  text-align: center;
}

.profile-info-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid var(--light-color-1);
}

.profile-number {
  color: var(--dark-color-2);
  text-align: center;
  font-size: var(--para-size);
}

.profile-text {
  color: var(--dark-color-3);
  text-align: center;
  font-size: 12px;
  margin-top: -10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 680px) {
  body {
    background-position: top -400px left -150px, top 250px right -150px;
  }
}
